/********* Check box start *********/
/* The container */
.checkbox {
	display: block;
	position: relative;
	padding-top: 3px;
	padding-left: 32px;
	margin: 5px;
	font-size: 12px;
	font-weight: 400;
	color: #484848;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html[lang=ar] .checkbox {
	padding-left: 0;
	padding-right: 32px;
}

/* Hide the browser's default checkbox */
.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkbox .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border: 1px solid #B8B8B8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

html[lang=ar] .checkbox .checkmark {
    left: auto;
    right: 0;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input~.checkmark {
	border: 1px solid #2F85FE;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked~.checkmark {
	background-color: #2F85FE;
	border: 1px solid #2F85FE;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
	top: 5px;
	left: 9px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0px 1px 1px 0px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/********* Check box End *********/