/****************************** Home Start ******************************/
.pghome h2 {
	text-align: center;
}
@media screen and (max-width: 767px) {
	.pghome h2 {
		text-align: left;
	}
	html[lang="ar"] .pghome h2 {
		text-align: right;
	}
}
.home_store_img {
	margin-top: 15px;
	text-align: center;
}

.home_store_img img {
	display: inline-block;
	margin: 6px;
}

.home_store_img .btn-secondary {
	display: block;
	max-width: 436px;
	margin: 26px auto 0 auto;
}

/********* Categories start *********/
#categories_top .cat_wrap {
	margin-left: -10px;
	text-align: center;
	border-right: 1px solid #e5e5e5;
}
#categories_top .swiper-slide:last-child .cat_wrap {
	border-right: 0;
}
#categories_top img {
	display: inline-block;
	width: auto;
	margin-bottom: 16px;
}

#categories_top .cat_text_top {
	padding: 0 10px;
	font-size: 15px;
	font-weight: 600;
}

#categories_top .cat_wrap {
	margin-right: 10px;
}

#categories_top2 .cat_wrap,
#categories_top2 .cat_wrap .cat_img {
	position: relative;
}

#categories_top2 .cat_wrap .cat_text {
	position: absolute;
	left: 0;
	bottom: 16px;
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	color: #fff;
	font-size: 34px;
	font-weight: 600;
	text-align: center;
}

#categories_top2 .cat_wrap .cat_text small {
	display: block;
	font-size: 15px;
	font-weight: 600;
	line-height: 16px;
}

@media screen and (max-width: 999px) {
	#categories .container {
		max-width: 100%;
	}
}

@media screen and (max-width: 767px) {

	#categories_top .col,
	#categories_top2 .col {
		padding-left: 0;
		padding-right: 0;
	}

	#categories_top .swiper-wrapper,
	#categories_top2 .swiper-wrapper {
		padding-left: 30px;
	}

	#categories_top .swiper-slide,
	#categories_top2 .swiper-slide {
		margin-left: -20px;
	}

	#categories_top .cat_wrap {
		border-right: 0;
	}

	#categories_top2 .cat_wrap .cat_text {
		font-size: 17px;
	}

	#categories_top2 .cat_wrap .cat_text small {
		font-size: 13px;
		line-height: 15px;
	}
}

/********* Categories end *********/
/********* offers start *********/
#entoffers {
	background: rgb(253, 250, 242);
	background: -moz-linear-gradient(90deg,
			rgba(253, 250, 242, 1) 0%,
			rgba(243, 249, 253, 1) 100%);
	background: -webkit-linear-gradient(90deg,
			rgba(253, 250, 242, 1) 0%,
			rgba(243, 249, 253, 1) 100%);
	background: linear-gradient(90deg,
			rgba(253, 250, 242, 1) 0%,
			rgba(243, 249, 253, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfaf2", endColorstr="#f3f9fd", GradientType=1);
}

#entoffers h2 {
	margin-bottom: 50px;
}

#entoffers .btn_entoffers {
	width: 276px;
	margin-left: 10px;
}

.entoffers_img {
	margin-top: 30px;
	margin-bottom: 15px;
}

#entoffers .home_store_img {
	margin-top: 50px;
}

#entoffers .entoffers_img1 {
	text-align: center;
}

#entoffers .entoffers_img1 img {
	max-width: 90%;
}

@media screen and (max-width: 767px) {
	#entoffers h2 {
		margin-bottom: 32px;
	}

	#entoffers .entoffers_img1 {
		order: -1;
		flex: 1 0 100%;
	}

	#entoffers .btn_entoffers {
		width: 42%;
	}

	.entoffers_wrap {
		text-align: center;
	}
}

/********* offers end *********/
/********* Trending places start *********/
/********* Trending places end *********/
/********* Family sharing start *********/
#famshar {
	text-align: center;
}

#famshar.bg {
	background-image: url(https://b2cappassetscdn.theentertainerme.com/website_images/famshar_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

#famshar .famshar_img1 {
	position: relative;
	width: 100%;
	text-align: center;
}

#famshar .famshar_img1 img {
	width: 813px;
	margin-top: 49px;
}

#famshar .famshar_img1 .famshar_img1cont {
	position: absolute;
	top: 43%;
	left: 0;
	right: 0;
}

#famshar .famshar_img1 .famshar_img1cont_title {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

#famshar .famshar_img1 .famshar_img1cont_p {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

#howork {
	border-top: 1px solid #f1f1f1;
	text-align: center;
}

#howork .bg {
	background-image: url(https://b2cappassetscdn.theentertainerme.com/website_images/howork_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

#howork h2 {
	margin-bottom: 64px;
}

#howork .howork_123 {
	margin-bottom: 10px;
}

#howork .howork_img {
	margin-bottom: 15px;
	vertical-align: top;
}

#howork .howork_cont p {
	min-height: 50px;
	margin-bottom: 0;
	font-size: 15px;
}

#howork .home_store_img {
	margin-top: 64px;
}

@media screen and (max-width: 767px) {
	#famshar p {
		text-align: left;
	}

	#famshar h2 {
		margin-bottom: 12px;
	}

	#famshar p {
		margin-bottom: 24px;
	}

	html[lang="ar"] #famshar p {
		text-align: right;
	}

	#famshar p {
		font-size: 17px;
	}

	#famshar .famshar_img1 .famshar_img1cont {
		top: 37%;
	}

	#famshar .famshar_img1 .famshar_img1cont_title {
		font-size: 20px;
		font-weight: 600;
	}

	#famshar .famshar_img1 .famshar_img1cont_p {
		font-size: 12px;
		font-weight: 300;
	}

	#howork .bg {
		padding-left: 15px;
		margin-right: 15px;
		background-image: none;
	}

	#howork .bg .col-12 {
		padding-left: 0;
		margin-right: 0;
	}

	#howork h2 {
		margin-bottom: 0;
	}

	#howork .howork {
		padding: 24px 0;
		border-bottom: 1px solid #efefef;
		text-align: left;
	}

	html[lang="ar"] #howork .howork {
		text-align: right;
	}

	#howork .howork:last-child {
		border-bottom: 0;
	}

	#howork .howork_123 {
		display: none;
	}

	#howork .howork_img {
		width: 50px;
		margin-right: 24px;
	}

	html[lang="ar"] #howork .howork_img {
		margin-left: 15px;
		margin-right: 0;
	}

	#howork .howork_img,
	#howork .howork_cont {
		display: inline-block;
		margin-bottom: 0;
	}

	#howork .howork_cont {
		width: calc(100% - 80px);
	}

	#howork .howork_cont h4 {
		font-size: 17px;
	}

	#howork .howork_cont p {
		min-height: auto;
	}
}

@media screen and (max-width: 500px) {
	#famshar .famshar_img1 .famshar_img1cont {
		top: 37%;
	}
}

/********* Family sharing end *********/
/********* Going to love start *********/
#goingtolove .container {
	border-bottom: 1px solid #f1f1f1;
}

#goingtolove .cat_wrap {
	margin-left: -10px;
	text-align: center;
}

#goingtolove img {
	display: inline-block;
	width: auto;
	margin-bottom: 16px;
}

#goingtolove .cat_text_top {
	padding: 0 10px;
	font-size: 15px;
	font-weight: 600;
}

#goingtolove .cat_wrap {
	position: relative;
	margin-right: 10px;
}

#goingtolove .cat_wrap,
#goingtolove .cat_wrap .cat_img {
	position: relative;
}

@media screen and (max-width: 999px) {
	#goingtolove .container {
		max-width: 100%;
	}
}

@media screen and (max-width: 767px) {
	#goingtolove .col {
		padding-left: 0;
		padding-right: 0;
	}

	#goingtolove .swiper-wrapper {
		padding-left: 30px;
	}

	#goingtolove .swiper-slide {
		margin-left: -20px;
	}
}

/********* Going to love end *********/


/****************************** Home End ******************************/